<a href="https://colab.research.google.com/github/rushirajnoor/html-Portfolio/blob/main/Experiment_Number_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to check whether the given number is positive or negative.

num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero

experiment 1

# New Section

In [ ]:
#Program to find largest number from two numbers.

num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))

if num1>num2:
    print("The largest number is",num1)
else:
    print("The largest number is",num2)

In [ ]:
#Program to find largest number among three.
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
num3 = int(input("Enter the third number"))
if num1>num2 and num1>num3:
    print("The largest number is",num1)
elif num2>num1 and num2>num3:
    print("The largest number is",num2)
else:
    print("The largest number is",num3)

In [ ]:
#Program to check whether given number is even or add.
num = int(input("Enter a number "))
if num % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number -2
The number is even

In [ ]:
#Program to calculate the sum of squares of the first n natural numbers.
a = 0
n = int(input("Enter a number"))
for i in range(1,n+1):
  a = a + (i*i)
print(a)

Enter a number3
14

In [ ]:
#to print multiplication table for the given number.
n = int(input("Enter a number"))

for i in range(1,11):
  print(i*n)

Enter a number10
10
20
30
40
50
60
70
80
90
100

In [ ]:
#Program to print the square of all numbers from 1-100.

for i in range(0,101):
  print(i*i, end=" ")

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000

In [ ]:
#Program to print all even and odd numbers from 1-100.
for i in range(1, 101):
  if i % 2 == 0:
    print("even no.",i)
for i in range(1, 101):
  if i % 2 != 0:
    print("odd no.",i,end=)

even no. 2
even no. 4
even no. 6
even no. 8
even no. 10
even no. 12
even no. 14
even no. 16
even no. 18
even no. 20
even no. 22
even no. 24
even no. 26
even no. 28
even no. 30
even no. 32
even no. 34
even no. 36
even no. 38
even no. 40
even no. 42
even no. 44
even no. 46
even no. 48
even no. 50
even no. 52
even no. 54
even no. 56
even no. 58
even no. 60
even no. 62
even no. 64
even no. 66
even no. 68
even no. 70
even no. 72
even no. 74
even no. 76
even no. 78
even no. 80
even no. 82
even no. 84
even no. 86
even no. 88
even no. 90
even no. 92
even no. 94
even no. 96
even no. 98
even no. 100
odd no. 1
odd no. 3
odd no. 5
odd no. 7
odd no. 9
odd no. 11
odd no. 13
odd no. 15
odd no. 17
odd no. 19
odd no. 21
odd no. 23
odd no. 25
odd no. 27
odd no. 29
odd no. 31
odd no. 33
odd no. 35
odd no. 37
odd no. 39
odd no. 41
odd no. 43
odd no. 45
odd no. 47
odd no. 49
odd no. 51
odd no. 53
odd no. 55
odd no. 57
odd no. 59
odd no. 61
odd no. 63
odd no. 65
odd no. 67
odd no. 69
odd no. 71
odd no. 73
odd no. 75
odd no. 77
odd no. 79
odd no. 81
odd no. 83
odd no. 85
odd no. 87
odd no. 89
odd no. 91
odd no. 93
odd no. 95
odd no. 97
odd no. 99