<a href="https://colab.research.google.com/github/rushirajnoor/html-Portfolio/blob/main/Loop_Control_Statements_in_Python_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to print all numbers in the specified range.

start = int(input("Enter the starting number of the range: "))
end = int(input("Enter the ending number of the range: "))

for i in range(start,end + 1):
    print(i, end = " ")

Enter the starting number of the range: 5
Enter the ending number of the range: 10
5 6 7 8 9 10

In [ ]:
#Program to calculate the sum of squares of the first n natural numbers.

n = int(input("Enter a number: "))
sum = 0
for i in range(1,n + 1):
    sum = sum + (i * i)

print(f"the sum of squares of the first {n} natural numbers is ",sum)

Enter a number: 4
the sum of squares of the first 4 natural numbers is  30

In [ ]:
#Program to print the square of all numbers from 1-100.

for i in range(1,101):
    print(i * i, end = " ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000

In [ ]:
#Program to print multiplication table for the given number.

n = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{n} x {i} = {i * n}")

Enter a number: 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [ ]:
#Program to print all even and odd numbers from 1-100.
print("Even numbers: ")
for i in range(1,101):
    if i % 2 == 0:
        print(i, end = " ")

print("\nOdd numbers: ")
for i in range(1,101):
    if i % 2 != 0:
        print(i, end = " ")

Even numbers:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Odd numbers:
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
#Program to print sum of the first n numbers.

n = int(input("Enter a number: "))
sum = 0
for i in range(0,n+1):
    sum = sum + i

print(sum)

Enter a number: 4
10

In [ ]:
#Write a program to print sum of even numbers between 1-100.

sum = 0
for i in range(0,101):
    if i % 2 == 0:
        sum = sum + i

print(sum)

2550

In [ ]:
#Program to calculate the factorial of given number.

n = int(input("Enter a number: "))
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

Enter a number: 4
24

In [ ]:
'''
Write a program that takes two inputs from the user: the base and the exponent (power).
The program should then calculate and print the result of raising the base to the given
power.
'''
base = int(input("Enter the number for the base value: "))
exponent = int(input("Enter the number for the exponent value: "))

num = base ** exponent
print(f"{base} to the power {exponent} is {num}")

Enter the number for the base value: 2
Enter the number for the exponent value: 3
2 to the power 3 is 8

In [ ]:
#Program to count total number divisible by 7 from 1-100 series.

count = 0
for i in range(1,101):
    if i % 7 == 0:
        count = count + 1

print(count)

14

In [ ]:
#Program to print Fibonacci series up to first n number.

num = int(input("Enter the Fibonacci numbers to print: "))

count = 0
first_num = 0
last_num = 1


while count < num:

    sum = first_num + last_num
    first_num = last_num
    last_num = sum

    print(sum, end = " ")
    count = count + 1

Enter the Fibonacci numbers to print: 8
1 2 3 5 8 13 21 34

In [ ]:
#Program to print all factors of given number.

num = int(input("Enter a number: "))
for i in range(2,num//2 + 1):
    if num % i  == 0:
        print(i)

Enter a number: 100
2
4
5
10
20
25
50

In [ ]:
# Program to continuously take number from user and print its square until user enter zero.

num = 1

while num > 0 :
    num = int(input("Enter a number "))
    print(num * num)

Enter a a number 3
9
Enter a a number 2
4
Enter a a number 4
16
Enter a a number 1
1
Enter a a number 0
0

In [ ]:
#Program to print half of the number continuously until it reaches 1.

num = int(input("Enter a number "))
a = 1
while num >= 1:
    print(num)
    num = num//2

Enter a a number 11
11
5
2
1

In [ ]:
#Program to convert a decimal number to binary.

n = int(input("Enter a number "))
while n >= 1:
    print(n % 2, end = " " )
    n = n //2

Enter a number 8
0 0 0 1

In [ ]:
#Program to find the logarithm base 2 of a given number.

In [ ]:
b = 11  # Start from the smallest multiple of 11

while True:
    if (b % 2 == 3 and b % 3 == 3 and b % 4 == 3 and b % 5 == 3):
        print(f"Smallest number of books: {b}")
        break
    b += 11  # Increment by 11 (must be divisible by 11)

KeyboardInterrupt: